<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CloudSift - Scan Report</title>
    <style>{{ .Styles }}</style>
    <script>{{ .Scripts }}</script>
</head>
<body>
    <h1>Scan Report</h1>
    <div class="summary-container">
        <!-- Scanned Accounts and Regions -->
        <div class="summary-block">
            <h3>Scanned Accounts and Regions</h3>
            <table class="accounts-table">
                <thead>
                    <tr>
                        <th>Account</th>
                        <th>Regions</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range $account, $regions := .AccountsAndRegions }}
                        <tr>
                            <td class="account-id">{{ $account }}</td>
                            <td class="region-list">{{ join $regions ", " }}</td>
                        </tr>
                    {{ end }}
                </tbody>
            </table>
        </div>

        <!-- Resource Type Counts -->
        <div class="summary-block">
            <h3>Resource Type Counts</h3>
            <table id="resource-type-counts">
                <thead>
                    <tr>
                        <th>Resource Type</th>
                        <th>Count</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range $resourceType, $count := .ResourceTypeCounts }}
                    <tr>
                        <td>{{ $resourceType }}</td>
                        <td>
                            <a href="javascript:void(0)" onclick="scrollToUnusedResources(event, '{{ $resourceType }}')">{{ $count }}</a>
                        </td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
            <br />
            <div class="summary-block" id="unused-resources">
               <h3>Combined Cost Breakdown for AWS Resources</h3>
                <table id="combined-costs">
                    <thead>
                        <tr>
                            <th>Resource Type</th>
                            <th>Hourly</th>
                            <th>Daily</th>
                            <th>Monthly</th>
                            <th>Yearly</th>
                            <th>Lifetime</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ range $resourceType, $costs := .CombinedCosts }}
                        <tr>
                            <td>{{ $resourceType }}</td>
                            <td>${{ printf "%.4f" (index $costs "hourly_rate") }}</td>
                            <td>${{ printf "%.3f" (index $costs "daily_rate") }}</td>
                            <td>${{ printf "%.2f" (index $costs "monthly_rate") }}</td>
                            <td>${{ printf "%.2f" (index $costs "yearly_rate") }}</td>
                            <td>
                                {{ if eq $resourceType "Elastic IPs" }}
                                    N/A
                                {{ else }}
                                    ${{ printf "%.4f" (index $costs "lifetime") }}
                                {{ end }}
                            </td>
                        </tr>
                        {{ end }}
                    </tbody>
                </table>
            </div>
            <br />
            <br />
            <h3>Scan Metrics</h3>
            <table id="scan-metrics">
                <thead>
                    <tr>
                        <th>Metric</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Total Number of Scans</td>
                        <td>{{ .ScanMetrics.TotalScans }}</td>
                    </tr>
                    <tr>
                        <td>Average Scans per Second</td>
                        <td>{{ .ScanMetrics.AvgScansPerSecond }}</td>
                    </tr>
                    <tr>
                        <td>Overall Scan Time</td>
                        <td>{{ .ScanMetrics.TotalRunTime }} seconds</td>
                    </tr>
                </tbody>
            </table>
        </div>     

        <!-- Unused Resources -->
        <div class="summary-block">
            <h3>Unused Resources</h3>
            <div class="input-container">
                <div style="position: relative; width: 100%;">
                    <input type="text" id="search-input" placeholder="Search table..." onkeyup="filterTable()" />
                    <button id="clear-search" onclick="clearSearch()">Clear</button>
                </div>
                <button class="export-btn" onclick="exportTableToCSV('scan_report.csv')">Export to CSV</button>
            </div>
            <table id="scan-table">
                <thead>
                    <tr>
                        <th onclick="sortTable(0)">Account <span class="sort-icon">↕</span></th>
                        <th onclick="sortTable(1)">Region <span class="sort-icon">↕</span></th>
                        <th onclick="sortTable(2)">Resource Type <span class="sort-icon">↕</span></th>
                        <th onclick="sortTable(3)">Name <span class="sort-icon">↕</span></th>
                        <th onclick="sortTable(4)">Resource ID <span class="sort-icon">↕</span></th>
                        <th onclick="sortTable(5)">Reason <span class="sort-icon">↕</span></th>
                        <th onclick="sortTable(6)">Details <span class="sort-icon">↕</span></th>
                    </tr>
                </thead>
                <tbody>
                    {{ range .Resources }}
                    <tr>
                        <td>{{ .AccountIDName }}</td>
                        <td>{{ .Region }}</td>
                        <td>{{ .ResourceType }}</td>
                        <td>{{ .Name }}</td>
                        <td>{{ .ResourceID }}</td>
                        <td>{{ .Reason }}</td>
                        <td>
                        <!-- Toggle Button -->
                        <button class="toggle-button" onclick="toggleDetails(this, 'details_{{ .ResourceID }}')">
                            <span class="text">Show more</span>
                            <span class="icon">▼</span>
                        </button>

                        <!-- Details Content -->
                        <div id="details_{{ .ResourceID }}" data-collapsed="true" data-short-text="{{ truncate .Details 50 }}..." data-full-text="{{ .Details }}">
                            {{ truncate .Details 50 }}...
                        </div>
                        </td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
